<li class="box">
  <div>
    <h3 *ngIf="transaction.type == 'deposit'" class="money blue">
      {{
        transaction.amount.toLocaleString("pt-BR", {
          style: "currency",
          currency: "BRL"
        })
      }}
    </h3>
    <h3 *ngIf="transaction.type == 'withdraw'" class="money red">
      {{
        "-" +
          transaction.amount.toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
      }}
    </h3>
    <p class="paragraph">{{ transaction.description }}</p>
  </div>
  <div>
    <p *ngIf="transaction.type == 'deposit'" class="paragraph">Entrada</p>
    <p *ngIf="transaction.type == 'withdraw'" class="paragraph">Saída</p>
    <button (click)="handleClick()" class="material-symbols-outlined">
      delete
    </button>
  </div>
</li>
