<main>
  <div class="container">
    <section class="box">
      <div>
        <a routerLink="/" class="material-symbols-outlined">arrow_back</a>
      </div>

      <h1 class="title one">Cadastre a transação</h1>
      <app-transaction-form />
    </section>
    <section>
      <div class="box total">
        <h2 class="title two">Total</h2>
        <p *ngIf="totalAmount >= 0" class="money blue">
          {{
            totalAmount.toLocaleString("pt-BR", {
              style: "currency",
              currency: "BRL"
            })
          }}
        </p>
        <p *ngIf="totalAmount < 0" class="money red">
          {{
            totalAmount.toLocaleString("pt-BR", {
              style: "currency",
              currency: "BRL"
            })
          }}
        </p>
      </div>
    </section>
    <section>
      <ul *ngIf="transactionList.length > 0" class="transaction-list">
        <app-transaction-card
          *ngFor="let transaction of transactionList"
          [transaction]="transaction"
        />
      </ul>
      <div *ngIf="transactionList.length == 0" class="box">
        <p class="paragraph">Nenhuma transação cadastrada.</p>
      </div>
    </section>
  </div>
</main>
